body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #77dd77;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
}

.jumbotron {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background-color: #77dd77;
    border: none;
}

.btn-outline-secondary {
    border-color: #77dd77;
    color: #77dd77;
}

.btn-outline-secondary:hover {
    background-color: #77dd77;
    color: #fff;
}
